---
---

//
// IMPORTS
//

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background: rgba(84, 58, 183, 1);
    background: linear-gradient(0deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    display: flex;
    flex-direction: column;
}

.site-container {
    width: 75%;
    margin: 0 auto;
}

.wrapper {
    background: url("/assets/images/background.svg");
    background-repeat: no-repeat;
}

.main-box {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    clear: both;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10em 10em 10em 9em;
}

.podcast-buttons ul li a i {
    font-size: 22px;
}

.podcast-buttons ul {
    font-size: inherit !important;
    display: flex;
    list-style-type: none;
    padding-left: 0rem;
}

.podcast-buttons ul li a {
    padding: 7px 13px;
    font-weight: 600;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.podcast-buttons ul li a i {
    padding-right: 10px;
}

.podcast-buttons h6 {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.podcast-image img {
    max-width: 175px;
}

.bg-default {
    background-color: rgba(0, 172, 193, 8) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.navbar-brand {
    color: white !important;
}

.podcast-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 90%;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }

.post {
    min-width: 300px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 -4px 13px 0 rgba(10, 4, 16, 0.2);
    box-shadow: 0 -4px 13px 0 rgba(10, 4, 16, 0.2);
    border-radius: 7px;
    padding: 1em;
    color: white;
    margin: 20px;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: auto;

    .bd-footer-links {
        padding-left: 0;
        margin-bottom: 1rem;

        li {
            display: inline-block;

            .links {
                margin: 5px;
            }
        }
    }
}


.btn-full {
    width: 100%;
    margin-bottom: 5px;
    background-color: #3ADAAE;
    border-color: #3ADAAE;
    color: white;
}